.orange-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura do container */
    height: 90px; /* Altura desejada */
    background-color: #FF7F39;
    z-index: -1; /* Para garantir que fique atrás do conteúdo :)*/
}

body {
    font-family: 'Saira Stencil One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Saira Stencil One', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-btn button {
    border: 2px solid #FF7F39;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #FF7F39;
}

.orange-rectangle.below-navbar {
    position: relative;
    top: 20px; /* Ajuste conforme necessário */
    background-color: #FF7F39;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.contrate-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px; /* Espaçamento abaixo do texto */
}

.services-text {
    text-align: center; /* Centralizar o texto */
    margin-top: 70px; /* Espaçamento superior */
}

.services-text p {
    font-weight: bold; /* Negrito */
    font-size: 24px; /* Tamanho da fonte */
    color: #333333; /* Cor do texto */
    margin: 0; /* Remover margem padrão */
}